
/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
}

body {
    font-family: sans-serif;
}

.box-padd {
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem 1rem;
}

h2 {
    padding: 1rem 0;
}

.blue-text {
    color: rgb(64, 78, 255);
}

.gray-text {
    color: rgb(89, 107, 128);
}

.tag-a {
    text-decoration: none;
    color: white;
    padding-right: 1rem;
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    display: inline-block;
    margin: 30px;
}

.violet {
    background-color: rgb(163, 115, 230);
    padding-top: 20px;
}

.text-align {
    text-align: center;
}

.white {
    color: white;
}

strong {
    font-size: xx-large;
}

/*HEADER*/

header {
    height: 80px;
    background-color: rgb(64, 78, 255);
    color: white;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu{
    display: none;
}

.padd-left{
    padding-left: 1rem;
}

.padd-right{
    padding-right: 1rem;
}

/*MAIN*/

/*intro-section*/

.blue-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-box{
    background-color: rgb(179, 215, 255);
}

.long {
    height: 555px;
}

.short {
    height: 300px;
}

.blue {
    background-color: rgb(64, 78, 255);
}

.phone-img{
    object-fit:cover;
    width: auto;
    height: 300px;
    margin-bottom: 0;
    padding-left: 25px;
}

.icon {
    font-size: 80px;
    color: rgb(64, 78, 255);
}

/*strategy-section*/

.white-box{
    background-color: aliceblue;
}

.plan-img {
    object-fit:cover;
    width: auto;
    height: 300px;
}

.icon-violet {
    font-size: 40px;
    color: rgb(163, 115, 230);
    padding: 15px;
}

/*FOOTER*/

footer{
    background-color: lightslategray;
}


/*TABLET*/

@media screen and (min-width:768px) {

    .blue-boxes{
        width: 100%;
    }
    
    .blue-box{
        width: calc(100% / 4);
        margin: 0.5rem;
    }

    .blue-box:first-child{
        width: calc( (100% / 4) * 2 );
        height: 300px;
    }

    .box-size{
        max-width: calc( ( 100% / 4) * 1.5);
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex-plan{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon {
        font-size: 40px;
    }

    h2 {
        font-size:medium;
    }

    p {
        font-size: smaller;
    }

    .btn {
        padding: 5px 25px;
        border-radius: 20px;
        display: inline-block;
        margin: 10px;
    }

    .btn a {
        font-size: smaller;
    }

    .phone-img {
        height: 130px;
    }

}

/*DESKTOP*/
@media screen and (min-width:992px) {
    
    .main-menu {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .btn-white{
        background-color: white;
        color: black;
        border-radius: 20px;
        padding: 10px;
    }

    .box-size{
        max-width: calc( 100% / 4);
    }

    .flex-plan {
        flex-direction: row;
    }
    
}

/*
.img-txt .foto-testimonial{ width: 150px; height: 150px; border-radius: 50%; overflow: hidden; } 
.img-txt .foto-testimonial img{ width: 100%; height: 100%; object-fit: cover; }
*/

