
/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 80%;
}

.box-padd{
    border: 1px solid white;
    padding: 1rem;
    margin: 2rem 1rem;
}

.violet {
    background-color: blueviolet;
}

.text-align {
    text-align: center;
}

.white{
    color: white;
}

strong{
    font-size: xx-large;
}

/*HEADER*/

header {
    height: 80px;
    background-color: rgb(64, 78, 255);
    color: white;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu{
    display: none;
}

/*MAIN*/

/*intro-section*/

.blue-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-box{
    background-color: aqua;
}

.long {
    height: 400px;
}

.short {
    height: 300px;
}

/*strategy-section*/

.white-box{
    background-color: aliceblue;
}

/*FOOTER*/

footer{
    background-color: lightslategray;
}


/*TABLET*/

@media screen and (min-width:768px) {

    .blue-boxes{
        width: 100%;
    }
    
    .blue-box{
        width: calc(100% / 4);
        margin: 0.5rem;
    }

    .blue-box:first-child{
        width: calc( (100% / 4) * 2 );
        height: 300px;
    }

    .box-size{
        max-width: calc( ( 100% / 4) * 1.5);
    }

    .flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flex{
        display: flex;
        align-items: center;
    }

}

/*DESKTOP*/
@media screen and (min-width:992px) {
    
    .main-menu {
        display: block;
    }

    .burger-menu {
        display: none;
    }

    .box-size{
        max-width: calc( 100% / 4);
    }
    
}

