
/*COMMON*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    height: 80px;
    background-color: rgb(64, 78, 255);
    color: white;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.main-menu{
    display: none;
}

/*main*/

.blue-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blue-box{
    background-color: aqua;
    border: 1px solid;
    width: 100%;
    margin: 2rem;
    padding: 1rem;
}

.long {
    width: 200px;
    height: 400px;
}

.short{
    width: 200px;
    height: 200px;
}

/*TABLET*/

@media screen and (min-width:768px) {

    .blue-boxes{
        width: 100%;
    }
    
    .blue-box{
        width: calc(100% / 4);
        margin: 0.5rem;
    }

    .blue-box:first-child{
        width: calc( (100% / 4) * 2 );
        height: 200px;
    }

}

/*DESKTOP*/
@media screen and (min-width:992px) {
    
    .main-menu {
        display: block;
    }

    .burger-menu {
        display: none;
    }
    
}

